/*
=================================================================================================================
Assignment : Lab 8 , Exercise B
Author(s) : Amielle El Makhzoumi, Diba Jamali
Submission : March 13th, 2024
Description : React .
=================================================================================================================
*/
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}